<h1>Edit match</h1>
  <% if @match.errors.any? %>
  <h2>The following errors prevented the match from getting updated</h2>
  <ul>
    <% @match.errors.full_messages.each do |msg| %>
    <li><%= msg %></li>
    <% end %>
  </ul>
  <% end %>

<%= form_for @match do |f| %>
  <p>
    <%= f.label :league %><br/>
    <%= f.text_field :league %>
  </p>
  <p>
    <%= f.label :team %> <br/>
    <%= f.text_field :team %>
  </p>
  <p>
    <%= f.label :match_type %><br/>
    <%= f.text_field :match_type %>
  </p>
  <p>
    <%= f.label :player_name %><br/>
    <%= f.text_field :player_name %>
  </p>
  <p>
    <%= f.label :player_score %><br/>
    <%= f.text_field :player_score %>
  </p>
  <p>
    <%= f.label :opponent_name %><br/>
    <%= f.text_field :opponent_name %>
  </p>
  <p>
    <%= f.label :opponent_score %><br/>
    <%= f.text_field :opponent_score %>
  </p>
  <p>
    <%= f.label :notes %><br/>
    <%= f.text_area :notes %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
