<h1>List all matches</h1>
<p>
  <%= link_to "Record a match", new_match_path %>
</p>
<table>
  <tr>
    <th>opponent_name</th>
    <th>opponent_score</th>
  </tr>
  <% @matches.each do |match| %>
  <tr>
    <td><%= match.opponent_name %></td>
    <td><%= match.opponent_score %></td>
    <td><%= link_to "Edit", edit_match_path(match) %></td>
    <td><%= link_to "Show", match_path(match) %></td>

  </tr>
  <% end %>
</table>
