<h1>Showing selected match</h1>
<p>
  League: <%= @match.league %>
</p>
<p>
  Match Type: <%= @match.match_type %>
</p>
<p>
  Player's name: <%= @match.player_name %>
</p>
<p>
  Player's score: <%= @match.player_score %>
</p>
<p>
  Opponent's name: <%= @match.opponent_name %>
</p>
<p>
  Opponent's score: <%= @match.opponent_score %>
</p>
<p>
  Notes: <%= @match.notes %>
</p>
